.header {
    position: relative;
    width: 100%;
    height: auto;
  }
  
  .header .background {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .header .background img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
  }